<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Good Questions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="header-logo">
          <h1 class="header-title"><%= link_to "Good questions", root_path %></h1>
        </div>
        <div class="header-nav">
          <% if current_user %>
            <%= link_to "@#{current_user.username}", user_path(current_user) %> |
            <%= link_to 'Log out', log_out_path %>
          <% else %>
            <%= link_to 'Sigh up', sign_up_path,
                        class: 'button button-light button-small' %>
            <%= link_to 'Sign in', log_in_path,
                        class: 'button button-light button-small' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container"></div>
        <% if flash.any? %>
          <div class="content-wrapper buffer-both">
            <% flash.each do |name, message| %>
              <%= content_tag :div, message, class: "flash-#{name}" %>
            <% end %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
